.about-page{
    height: 100vh;
    font-variant-ligatures: no-common-ligatures;
    margin-bottom: 7%;
    /*background-color: red;*/
    /*padding: 10% 10%;*/
}

.about-me-description{
    font-size: 1.45rem !important;
}

.rachel-image{
    width: 58vh;
}

/* when screen size changes, these are the changes*/
@media (max-width: 1400px) {
    .about-me-description{
        font-size: 1.35rem !important;
    }
}

@media (max-width: 1200px) {
    .about-me-description{
        font-size: 1.25rem !important;
    }
    .rachel-image{
        width: 45vh;
    }
    /*.about-page{*/
    /*    margin-bottom: 15%;*/
    /*}*/

}

@media (max-width: 992px) {
    .about-me-description{
        font-size: 1.2rem !important;
    }
    /*.about-page{*/
    /*    margin-bottom: 20%;*/
    /*}*/
}

@media (max-width: 768px) {
    /*.about-page{*/
    /*    margin-bottom: 35%;*/
    /*}*/
}

@media (max-width: 576px) {
    .rachel-image{
        width: 35vh;
    }
    /*.about-page{*/
    /*    height:100%;*/
    /*    margin-bottom: 45%;*/
    /*}*/

}

