.experience-page{
    height: 200vh;
}

.title-text{
    font-size: 2.8rem !important;
    font-family: Liga-Sans-Bold !important;
    font-weight: bold !important;
    margin-bottom: -8px !important;
    line-height: 1 !important;
}

.duration-text{
    font-size: 20px !important;
    font-family: InterTight-Medium !important;
    color: rgba(61, 61, 61, 0.7)!important;
    margin-bottom: -10px !important;
}

.company-location-text{
    font-size: 1.25rem !important;
    font-family: InterTight-Medium !important;
    margin-bottom: -15px !important;
    color: rgba(61, 61, 61, 0.7) !important;

}

.description-text{
    font-size: 20px !important;
    font-family: InterTight-Medium !important;
}

.bullet-point {
    color: #212121;
}


/* timeline */
.timeline-elements{
    padding: 0 20px 0 20px;
    /*background-color: red;*/
    margin: -3% 0 -1% 0;
}

.vertical-timeline::before {
    background: #1e1d1d !important;
}

.vertical-timeline-element-icon {
    box-shadow: none !important;
    border: 3px solid #1e1d1d;
}

.vertical-timeline-element-content {
    background: #f9f6e7 !important;
    box-shadow: none !important;
    border: 3px solid #1e1d1d;
}

/* when screen size changes, these are the changes*/
@media (max-width: 1400px) {
    .title-text{
        font-size: 2.6rem !important;
    }
    .duration-text{
        font-size: 18px !important;
    }
    .company-location-text{
        font-size: 1.2rem !important;
    }
    .description-text{
        font-size: 18px !important;
    }
}

@media (max-width: 1200px) {
    .title-text{
        font-size: 2.4rem !important;
    }
    .duration-text{
        font-size: 16px !important;
    }
    .company-location-text{
        font-size: 1.1rem !important;
    }

}

@media (max-width: 992px) {
    .title-text{
        font-size: 2.2rem !important;
    }
    .duration-text{
        font-size: 1rem !important;
    }
    .company-location-text{
        font-size: 1rem !important;
    }

}

@media (max-width: 768px) {
    .title-text{
        font-size: 2rem !important;
    }
    .duration-text{
        font-size: 0.9rem !important;
    }
    .company-location-text{
        font-size: 0.9rem !important;
    }
    .description-text{
        font-size: 16.5px !important;
    }
}

@media (max-width: 576px) {
    .timeline-elements{
        padding: 0 10px 0 10px;
        /*background-color: red;*/
    }
    .title-text{
        font-size: 2rem !important;
    }
    .duration-text{
        font-size: 0.85rem !important;
    }
    .company-location-text{
        font-size: 0.85rem !important;
    }
    .description-text{
        font-size: 15px !important;
    }
}
